@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.grid-container {
  margin: 20px;
}

.filter {
  padding: 10px;
}

.filter mat-form-field {
  width: 100%;
}

.button-row {
  position: fixed;
  bottom: 50px;
  right: 20px;
}

.margin-vertical-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bg-green {
  background-color: #2a9844 !important;
}
