<div class="grid-container">
  <h1 class="mat-h1">Epocas</h1>
  <div class="mat-elevation-z8">

    <div class="filter">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Epocas...">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="epocas" matSort aria-label="Epocas">

      <ng-container matColumnDef="NOMBRE_PERIODO">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Periodo</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.NOMBRE_PERIODO}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="NOMBRE_EPOCA">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Epoca</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.NOMBRE_EPOCA}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">

          <a mat-icon-button color="primary" [routerLink]="['/epocas', row.ID_EPOCA]">
            <mat-icon>mode_edit</mat-icon>
          </a>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator #paginator
                   [length]="epocas?.data.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 50, 100]">
    </mat-paginator>
  </div>
</div>


<div class="button-row">
  <button mat-fab color="primary" class="margin-left-20" [routerLink]="['/epocas', 'new']">
    <mat-icon>add</mat-icon>
  </button>
</div>
